

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style/style.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <header>
        <img src="~/Content/Images/logo.png" />
        <h1>| ABOUT</h1>
    </header>
    <section class="intro">
        <img src="~/Content/Images/logo.png" />
        <h3>IS YOUR</h3>
    </section>
    <section class="mission">
        <p>"We believe in a world,</p>
        <p>where skills` development is available for everyone for FREE</p>
        <p>and is LESS dependent on geography,time & price"</p>
    </section>
    <section class="categories">
        <div class="aqua pull-left">
            <img src="~/Content/Images/languages.png" />
            <h2>LANGUAGES</h2>
        </div>

        <div class="blue pull-right">
            <img src="~/Content/Images/music copy.png" />
            <h2>MUSIC</h2>
        </div>

        <div class="green pull-left bottom">
            <img src="~/Content/Images/sports.png" />
            <h2>SPORTS</h2>
        </div>

        <div class="tan pull-right bottom">
            <img src="~/Content/Images/tech.png" />
            <h2>TECHNOLOGY</h2>
        </div>
    </section>
    <section class="signUp">
        <img  src="~/Content/Images/logo.png"/>
        <h1>CONTACT</h1>
        <p>Sønderhøj 30,</p>
        <p>Viby J</p>
        <p>8260</p>
        <p>Aarhus,Denmark</p>
        <p>Email</p>
        <p>Tlf</p>
        <img class="social" src="~/Content/Images/social.png" />
        <button onclick="@("window.location.href='" + @Url.Action("Index", "Category") + "'");" class="browseButton">BROWSE MORE</button>
        <button onclick="@("window.location.href='" + @Url.Action("TeacherSignUp", "User") + "'");" class="teacherButton">BECOME A TEACHER</button>
        <button onclick="@("window.location.href='" + @Url.Action("StudentSignUp", "User") + "'");" class="studentButton">BECOME A STUDENT</button>
    </section>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script></script>
</body>
</html>
