@model Interdisciplinary.Models.User
@{
    ViewBag.Title = "StudentSignUp";
}

<h2>StudentSignUp</h2>

<div>
    @using (Html.BeginForm("StudentSignUp", "User", FormMethod.Post, new { @class = "signupform-student" }))
    {
        @Html.AntiForgeryToken()
        <p>
            @Html.TextBoxFor(x => x.FirstName, new { placeholder = "First Name" })<br />
            @Html.TextBoxFor(x => x.LastName, new { placeholder = "Last Name" })<br />
            @Html.PasswordFor(x => x.Password, new { placeholder = "Password" })<br />
            @Html.TextBoxFor(x => x.Email, new { placeholder = "Email" })<br />
            @Html.TextBoxFor(x => x.Birthday, new { placeholder = "Birthday"})<br />
            @Html.TextBoxFor(x => x.City, new { placeholder = "City" })
            @Html.TextBoxFor(x => x.Address, new { placeholder = "Address" })<br />
            @Html.TextBoxFor(x => x.Phone, new { placeholder = "Phone Number" })<br />

        @Html.ValidationSummary()
        </p>
        <input type="submit" value="submit" />
    }
</div>