@model Interdisciplinary.Models.User
@{
    ViewBag.Title = "TeacherSignUp";
}

<h2>TeacherSignUp</h2>


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style/style.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>

    <div>
        @using (Html.BeginForm("StudentSignUp", "User", FormMethod.Post, new { @class = "signupform-student" }))
        {
            @Html.AntiForgeryToken()
            <p>
                @Html.TextBoxFor(x => x.FirstName, new { placeholder = "First Name" })<br />
                @Html.TextBoxFor(x => x.LastName, new { placeholder = "Last Name" })<br />
                @Html.PasswordFor(x => x.Password, new { placeholder = "Password" })<br />
                @Html.TextBoxFor(x => x.Email, new { placeholder = "Email" })<br />
                @Html.TextBoxFor(x => x.Birthday, new { placeholder = "Birthday" })<br />
                @Html.TextBoxFor(x => x.City, new { placeholder = "City" })
                @Html.TextBoxFor(x => x.Address, new { placeholder = "Address" })<br />
                @Html.TextBoxFor(x => x.Phone, new { placeholder = "Phone Number" })<br />
                @Html.TextBoxFor(x => x.Summary, new { placeholder = "Summary" })<br />
                @Html.TextBoxFor(x => x.Education, new { placeholder = "Education" })<br />
                @Html.ValidationSummary()
            </p>
            <input type="submit" value="submit" />
        }
    </div>
</body>
</html>
