@model InterdisciplinaryDomainModel.Database.User

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
       
            @using (Html.BeginForm("SignUpPartial", "Login", FormMethod.Post, new { @class = "signupform" }))
            { <ul class="SignUpForm">
            @Html.AntiForgeryToken()
            <li>
                @Html.LabelFor(x => x.FirstName)

                @Html.TextBoxFor(x => x.FirstName)
            </li>
            <li>
                @Html.LabelFor(x => x.LastName)
                @Html.TextBoxFor(x => x.LastName)
            </li>
            <li>
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password)
            </li>
            <li>
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email)
            </li>
            <li>
                @Html.LabelFor(x => x.Birthday)
                @Html.TextBoxFor(x => x.Birthday)
            </li>
            <li>
                @Html.LabelFor(x => x.Phone)
                @Html.TextBoxFor(x => x.Phone)
            </li>
            <li>
                @Html.LabelFor(x => x.City)
                @Html.TextBoxFor(x => x.City)
            </li>
            <li>
                @Html.LabelFor(x => x.Address)
                @Html.TextBoxFor(x => x.Address)
            </li>
            <li>
                @Html.LabelFor(x => x.Summary)
                @Html.TextBoxFor(x => x.Summary)
            </li>
            <li>
                @Html.LabelFor(x => x.Education)
                @Html.TextBoxFor(x => x.Education)
            </li>
            @Html.ValidationSummary()
        </ul>
            <input type="submit" value="submit" />
            }

        </div>
    </body>
</html>

